xml&&xsd/ej1notaalumno.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault ="qualified">
<xs:element name="notaalumno">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="ChrisSmith" type="xs:string"/>
            <xs:element name="JudiZimmerman" type="xs:string"/>
            <xs:element name="MichaelCalder" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>